# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Logs and temp files
*.log
*~

# Environment files
.env
.env.*

# Local cache folders created by the program
powder_cache/
peak_cache/
results/
phase_analysis/__pycache__/
Instrument.instprm
my_simulation.bak0.gpx
.gitignore
.gitignore
simulation.gpx
my_simulation.gpx
my_simulation.lst
